@tailwind base;
@tailwind components;
@tailwind utilities;


.yellowtext{
  background: linear-gradient(269deg, #e8e6d5 29.96%, #724fe3 93.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.bgb{
  background: linear-gradient(269deg, #2f2f2b 29.96%, #504289 93.86%);
 
}
.bgc{
  background: linear-gradient(269deg, #2f2f2b 29.96%, #d667c2 93.86%);
 
}
.copybox{
  background: linear-gradient(180deg, #5B5656 0%, #3C3737 64%, #2C2626 98%, #080000 98.01%);
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



body {
  background: black;
  font-family: Arial, sans-serif;
  display: flex;
  color: #e8e6d5;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
